    <!-- Content Header (Page header) -->

    <!-- <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="./DashBoard">Home</a></li>
                <li class="breadcrumb-item active">Dashboard </li>
              </ol>
            </div>
          </div>
        </div>
      </div> -->
      
 



<div class="container-fluid"  > 
    <!-- Info boxes -->
    <div class="row">
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-4" routerLink="/ListCustomer">
      <div class="info-box mb-3">
        
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

        <div class="info-box-content">

          <!-- <span class="info-box-text">Totel Customer :     
            <b>{{Data[0].totelCustomer}}</b>
          </span>
    
          <span class="info-box-text">This Year      
            <span class="info-box-text">New Customers :     
              <b>{{Data[0].customerYearly}} </b>
            </span>
            <span class="info-box-text">Groth :     
              <b>{{Data[0].customerYearlyGrowth}} %</b>
            </span>
          </span>
   
          <span class="info-box-text">This Month     
            <span class="info-box-text">New Customers :     
              <b>{{Data[0].customerMonthly}} </b>
            </span>
            <span class="info-box-text">Groth :     
              <b>{{Data[0].customerMonthlyGrowth}} %</b>
            </span>
          </span> -->
          <span class="info-box-text">Totel Customer</span>
          <span class="info-box-number">{{Data[0].totelCustomer}}</span>         
        </div>
        <!-- <a routerLink="/Nav/ListCustomer" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
   
        <!-- /.info-box-content --> 
      </div>

      <div>  
        <div style="width: 50%; float: left;" class=" info-box mb-3">
          <div class="info-box-content">
            <span class="info-box-text"><h5><b>This Year</b></h5>      
            <span class="info-box-text">New Customers :     
              <b>{{Data[0].customerYearly}} </b>
            </span>
            <span class="info-box-text">Growth :     
              <b>{{Data[0].customerYearlyGrowth}}<small>%</small></b>
            </span>
          </span>
        </div>
        </div>
        <div style="width: 50%; float: left;" class="info-box mb-3 ">
          <div class="info-box-content">
       
          <span class="info-box-text"><h5><b>This Month</b></h5>     
            <span class="info-box-text">New Customers :     
              <b>{{Data[0].customerMonthly}} </b>
            </span>
            <span class="info-box-text">Growth :     
              <b>{{Data[0].customerMonthlyGrowth}}<small>%</small></b>
            </span>
          </span> 
          </div>
        </div>
      </div> 
    
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <div class="col-12 col-sm-6 col-md-4" routerLink="/ListInvoice">
      
      <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
       
        <div class="info-box-content">
          <span class="info-box-text">Totel Sales</span>
          <span class="info-box-number">  {{Data[0].totelSeles | currency}} </span>
        </div>
 
        <!-- <a routerLink="/Nav/ListInvoice" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->   
        <!-- /.info-box-content -->
      </div>
      <div>  
        <div style="width: 50%; float: left;" class=" info-box mb-3">
          <div class="info-box-content">
            <span class="info-box-text"><h5><b>This Year</b></h5>      
            <span class="info-box-text">Totel Sales :     
              <b>{{Data[0].salesYearly | currency}} </b>
            </span>
            <span class="info-box-text">Growth :     
              <b>{{Data[0].salesYearlyGrowth}}<small>%</small></b>
            </span>
          </span>
        </div>
        </div>
        <div style="width: 50%; float: left;" class="info-box mb-3 ">
          <div class="info-box-content">
       
          <span class="info-box-text"><h5><b>This Month</b></h5>     
            <span class="info-box-text">Tolel Sales:     
              <b>{{Data[0].salesMonthly | currency}} </b>
            </span>
            <span class="info-box-text">Growth :     
              <b>{{Data[0].salesMonthlyGrowth}}<small>%</small></b>
            </span>
          </span> 
          </div>
        </div>
      </div> 
  
      <!-- /.info-box -->
    </div>
      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

      <div class="col-12 col-sm-6 col-md-4" routerLink="/ListPayment">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-info elevation-1"><mat-icon > attach_money</mat-icon></span>
  
          <div class="info-box-content">
            <span class="info-box-text">Totel Payment Collection</span>
            <!-- <span class="info-box-text"></span>          -->
            <span class="info-box-number">  {{Data[0].totelPaymentCollestions | currency}} </span>
          </div>

  

          <!-- <a routerLink="/Nav/ListPayment" class="small-box-footer"
          >More info <i class="fas fa-arrow-circle-right"></i
        ></a> -->
         
   
          </div>
          <!-- /.info-box-content -->
          <div>  
            <div style="width: 50%; float: left;" class=" info-box mb-3">
              <div class="info-box-content">
                <span class="info-box-text"><h5><b>This Year</b></h5>     
                <span class="info-box-text">Totel Payment Collection :     
                </span>
                <span>      <b>{{Data[0].paymentCollestionsYearly | currency}} </b>
                </span>
                <span class="info-box-text">Growth :     
                  <b>{{Data[0].paymentCollestionsYearlyGrowth}}<small>%</small></b>
                </span>
              </span>
            </div>
            </div>
            <div style="width: 50%; float: left;" class="info-box mb-3 ">
              <div class="info-box-content">
           
              <span class="info-box-text"><h5><b>This Month</b></h5>     
                <span class="info-box-text">Totel Payment Collection:     
                </span>
                <span>   <b>{{Data[0].paymentCollestionsMonthly | currency}} </b>
                </span>
                <span class="info-box-text">Growth :     
                  <b>{{Data[0].paymentCollestionsMonthlyGroth}}<small>%</small></b>
                </span>
              </span> 
              </div>
            </div>
          </div> 
       
        <!-- /.info-box -->
      </div>
  


 

    </div>
    <!-- /.row -->


    <div class="row">
      <div class=" col-md-12">
   
      <div class="card">
          <div class="card-header">
            <h5 class="card-title">Charts</h5>
          </div>
              <!-- [width]="1000" -->
              <div class="row">
   
              <div class=" col-md-6">
                <div class="info-box ">
                  <google-chart  
                  #chart 
                  [width]="400" 
                  [height]="150"
                  [title]="Chart.titleTotel"
                  [type]="Chart.type"
                  [data]="TotelSalesAndPaymentCollection"
                  [columns]="Chart.columns"
                  [options]="Chart.options"                 
                >
                </google-chart>
                  </div>
                </div>   
                <div class=" col-md-6">
                  <div class="info-box ">
                    <google-chart  
                    #chart 
                    [height]="150"
                    [title]="Chart.titlePieTotel"
                    [type]="Chart.typepie"
                    [data]="TotelSalesAndPaymentCollectionpie"
                    [columns]="Chart.columns"
                    [options]="Chart.options"
                  >
                  </google-chart>
                    </div>
                  </div>   
                <div class=" col-md-6">
                  <div class="info-box ">
                  <google-chart  
                  #chart 
                  [width]="400" 
                  [height]="150"
                  [title]="Chart.titleYearly"
                  [type]="Chart.type"
                  [data]="ThisYearSalesAndPaymentCollection"
                  [columns]="Chart.columns"
                  [options]="Chart.options"
                >
                </google-chart>
                </div>
                </div>
                <div class=" col-md-6">
                  <div class="info-box ">
                  <google-chart  
                  #chart 
                  [width]="400" 
                  [height]="150"
                  [title]="Chart.titleMonthly"
                  [type]="Chart.type"
                  [data]="ThisMonthSalesAndPaymentCollection"
                  [columns]="Chart.columns"
                  [options]="Chart.options"
                >
                </google-chart>
                  </div>
                </div>



                <div class=" col-md-6">
                  <div class="info-box ">
                  <google-chart  
                  #chart 
                  [width]="400" 
                  [height]="300"
                  [title]="Chart.titleMonthwisesales"
                  [type]="Chart.typeColumn"
                  [data]="temp1"
                  [columns]="Chart.columns"
                  [options]="Chart.options1"
                >
                </google-chart>
                  </div>
                </div> 

                <div class=" col-md-6">
                  <div class="info-box ">
                  <google-chart  
                  #chart 
                  [width]="400" 
                  [height]="300"
                  [title]="Chart.titleMonthwisepaymentcollection"
                  [type]="Chart.typeColumn"
                  [data]="temp2"
                  [columns]="Chart.columns"
                  [options]="Chart.options1"
                >
                </google-chart>
                  </div>
                </div> 

                <div class=" col-md-12">
                  <div class="info-box ">
                  <google-chart  
                  #chart 
                  [width]="800" 
                  [height]="300"
                  [title]="Chart.titleColumnchart"
                  [type]="Chart.typeCombo"
                  [data]="temp"
                  [columns]="Chart.columns1"
                  [options]="Chart.options2"
                >
                </google-chart>
                  </div>
                </div> 

                <div class=" col-md-12">
                  <div class="info-box ">
                  <google-chart  
                  #chart 
                  [width]="800" 
                  [height]="300"
                  [type]="Chart.typeCombo1"
                  [data]="temp"
                  [columns]="Chart.columns1"
                  [options]="Chart.options2"
                >
                </google-chart>
                  </div>
                </div> 


              </div>           
           
              </div>
       
    </div>  
  </div>  
    

    <!-- /.row -->
    <div class="row">
      <!-- <div class="col-md-12" >
      <app-list-report></app-list-report>
    </div> -->
    <!-- <div style="display: block;">
      <canvas baseChart width="400" height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div> -->
        <!-- [options]="lineChartOptions" -->
         <!-- <div class="chart-wrapper">
          <canvas baseChart 
              [datasets]="lineChartData" 
              [labels]="lineChartLabels" 
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins">
          </canvas>
      </div>  -->



    </div>
    <!-- Main row -->
  </div><!--/. container-fluid -->
 
  