<div class="row">        
    <div class="col-md-12" >
        <div class="card">
            <h2 class="card-header">{{title}}
                <input style="float: right;" class="btn btn-success"(click)="gotoadd()"type="button" value="Add">
            </h2>
            <div class="card-body ">
                <div>
                <p class="col-md-4" id="table_InvoiceFilter"><label><b>Select Customer:</b></label><br></p>
                <button style="cursor: pointer; float: right; margin-bottom: 5px;" (click)="exportexcel()" class="btn btn-success">
                    Export to excel
                    <!-- <mat-icon> cloud_download</mat-icon> -->
                  </button>

                    <table id="table_Invoice" class="display table table-striped">   
                        <thead>
                            <tr>
                                <th>Invoice No</th>
                                <th>Customer Name</th>
                                <th>Customer No</th>
                                <th>Invoice Date</th>
                                <th>Invoice Amount</th>
                                <th>Payment DueDate</th> 
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
    
                    </table>
                </div>
        </div>
    </div>
</div>
