<div class="row">        
    <div class="col-md-12" >
        <div class="card">
            <h2 class="card-header">{{title}}
                <button *ngIf="helper.Admintype" style="float: right;" class="btn btn-success"(click)="gotoadd()" >Add</button>
            </h2>
            <div class="card-body">
                <div>
                    <button style="cursor: pointer; float: right; margin-bottom: 5px;" (click)="exportexcel()" class="btn btn-success">
                        Export to excel
                        <!-- <mat-icon> cloud_download</mat-icon> -->
                      </button>
      
                    <table id="table_Customer" class="display table table-striped">   
                        <thead>
                            <tr>
                                <th>Customer No</th>
                                <th>Customer Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
         
                        <tbody>
                        </tbody>
    
                    </table>
                </div>
        </div>
    </div>
</div>
