<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar >    <mat-icon color="primary">menu</mat-icon><span style="color: rgb(84, 38, 168);"> &nbsp;&nbsp;Welcome</span>
      </mat-toolbar>

    <mat-nav-list>
      <!-- <a mat-list-item [routerLinkActive]="['is-active']"routerLink="/ListCustomer"><mat-icon> import_contacts</mat-icon><mat-icon> list_alt</mat-icon><mat-icon>equalizer</mat-icon><mat-icon>how_to_reg</mat-icon><mat-icon>move_to_inbox</mat-icon><mat-icon>storage</mat-icon><mat-icon>widgets</mat-icon>
        Customer</a>
      <a mat-list-item [routerLinkActive]="['is-active']"routerLink="/ListReport"><mat-icon color="primary">timeline</mat-icon><mat-icon>trending_up</mat-icon><mat-icon>view_carousel</mat-icon><mat-icon>view_list</mat-icon><mat-icon> business</mat-icon>Growth</a> -->
      <a mat-list-item [routerLinkActive]="['is-active']"routerLink="./DashBoard"><mat-icon color="primary">dashboard</mat-icon><span style="color: rgb(84, 38, 168);">Dashboard</span></a>
      <a mat-list-item [routerLinkActive]="['is-active']"routerLink="./ListCustomer"><mat-icon color="primary">person</mat-icon><span style="color: rgb(84, 38, 168);">Customer</span></a>
      <a mat-list-item [routerLinkActive]="['is-active']"routerLink="./ListInvoice"><mat-icon  color="primary"> local_library</mat-icon><span style="color: rgb(84, 38, 168);">Invoice</span></a>
      <a mat-list-item [routerLinkActive]="['is-active']"routerLink="./ListPayment"><mat-icon  color="primary"> attach_money</mat-icon><span style="color: rgb(84, 38, 168);">Payment</span></a>
      <a mat-list-item [routerLinkActive]="['is-active']"routerLink="./ListReport" ><mat-icon color="primary">equalizer</mat-icon><span style="color: rgb(84, 38, 168);">Report</span></a> 
      <a mat-list-item [routerLinkActive]="['is-active']"routerLink="./GeneralSettings" ><mat-icon color="primary">settings</mat-icon><span style="color: rgb(84, 38, 168);">General Settings</span></a>      
      <!-- <a mat-list-item [routerLinkActive]="['is-active']"routerLink="./GeneralSettings" ><mat-icon color="primary">verified_user</mat-icon><span style="color: rgb(84, 38, 168);">Security</span></a>      
      -->
      <!-- <a mat-list-item class="Logout"  (click)="onLogout()" ><mat-icon color="primary">screen_lock_portrait</mat-icon><span style="color: rgb(84, 38, 168);">Log Out</span></a> -->
      <!-- <a mat-list-item [routerLinkActive]="['is-active']"routerLink="/Registration"><mat-icon color="primary"></mat-icon><span style="color: rgb(84, 38, 168);">Registration</span></a>  -->
     
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="max-width: 45%; text-size-adjust: 40%;">Customer Invoice and Payment Management</span>
       <span class="spacer"></span>
        <span mat-button data-title="Edit Profile"routerLink="./EditProfile" style="max-width: 45%;">{{FullName}}</span>  
        &nbsp;&nbsp;
        <div (click)="onLogout()"  data-title="Sign Out " class="example-button-container">
          <button mat-mini-fab color="warn" >
            <span > <i class="fas fa-sign-out-alt" ></i></span>
          </button>
        </div>
        <!-- <span (click)="onLogout()"  title="Sign Out"> <i class="fas fa-sign-out-alt"style="color:red" ></i></span> -->
    </mat-toolbar>
    <ng-content>      
    </ng-content>
    <div class="container">
      <div style="margin-top: 2%;">
    <router-outlet></router-outlet>
      </div>
    </div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
