<!-- <app-header></app-header> -->
<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark ">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio"  routerLink="/ListReport" name="options" id="option1" autocomplete="off" checked> Report
      </label>

      <label class="btn btn-secondary">
        <input type="radio"  routerLink="/ListCustomer" name="options" id="option2" autocomplete="off"> Customer
      </label>

      <label class="btn btn-secondary">
        <input type="radio"  routerLink="/ListInvoice" name="options" id="option3" autocomplete="off"> Invoice
      </label>
    
      <label class="btn btn-secondary">
        <input type="radio"  routerLink="/ListPayment" name="options" id="option3" autocomplete="off"> Payment
      </label>

      <label style="text-align: right; float:right; margin-right: 0px;">
        <button style="text-align: right;" class="btn btn-danger  float:right; margin-right: 0px;" (click)="onLogout()">Logout</button>
      </label>  

      
    </div>
  
</nav> -->
 <app-root-nav *ngIf="nav.visible;else Nonav" >
  <div class="container">
    <div style="margin: 20px 5px 10px 5px; " >       
      <router-outlet></router-outlet>
    </div> 
  </div>
</app-root-nav> 
  
<ng-template #Nonav>
  <router-outlet></router-outlet>
</ng-template>




    <!-- <router-outlet></router-outlet> -->
<!--     
    <hr/>
    <app-list-customer></app-list-customer>
    <hr/>
    <app-list-invoice></app-list-invoice>
    <hr/>
    <app-list-payment></app-list-payment>
    <hr/>
    <app-list-report></app-list-report> -->

