<div class="container">
    <div class="row">
        
        <div class="col-md-6 col-sm-offset-3">
            <mat-card>
           
               <h1 class="text-center"><mat-label >Add Customer</mat-label></h1>
                
                <form >
                        <mat-form-field appearance="fill" class=" example-full-width1 " *ngIf="GS[0].autoCustomerNo">
                            <mat-label><span class="req">* </span>Customer No</mat-label>
                            
                            <input matInput  
                             value="Cu.customerNo" readonly
                             [(ngModel)]="Cust1.customerNo"
                             [ngModel]="Cust2[0].customerNo"
                             name="customerNo" id="txt"
                             placeholder="Enter Customer No"> 
                             <span matPrefix>C</span>
                     
                        </mat-form-field>
                  
                        <mat-form-field appearance="fill" class="example-full-width1"*ngIf="!GS[0].autoCustomerNo">
                            <mat-label><span class="req">* </span>Customer No</mat-label>
                            
                            <input matInput  
                             [(ngModel)]="Cust1.customerNo"
                             name="customerNo" id="txt"
                             placeholder="Enter Customer No"> 
                             <!-- <span matPrefix>C&nbsp;</span> -->
                       
                        </mat-form-field>
                  
                        <!-- <mat-slide-toggle  color="primary" #toggleBtn checked (click)="toggle()">Auto!</mat-slide-toggle> -->
                   
                        <!-- <span  class="custom-control custom-switch example-full-width12">
                            <input  type="checkbox" checked (click)="toggle()" class="custom-control-input" id="customSwitches">
                            <label class="custom-control-label" for="customSwitches">Auto</label>                            
                         </span>
                         <mat-slide-toggle>Slide me!</mat-slide-toggle>
                -->
                         <mat-form-field appearance="fill" class="example-full-width1">
                            <mat-label><span class="req">* </span>Customer Name</mat-label>
                                <input matInput [(ngModel)]="Cust1.customerName"
                                 name="customerName" id="customerName"
                                 placeholder="Enter Customer Name">
                        </mat-form-field>
                    
                    <div class=" btn-group" style="padding-left:10% ;">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Submit" 
                        (click)="AddCustomer()">
                        <input (click)="gotoList()" class = "btn btn-warning"routerLink="/GetEmployeePath"type="button" value="Goto List">            
                    </div>
                    
                <router-outlet></router-outlet>
               </form>
        </mat-card>

                                
        </div><!-- ends col-12 -->
    </div>
</div>

<!-- <div class="custom-control custom-switch">
    <input type="checkbox"(click)="toggle()" class="custom-control-input" id="customSwitches">
    <label class="custom-control-label" for="customSwitches">Auto</label>
  </div>

<button (click)="toggle()" id="bt">
    {{buttonName}}
</button>
 <button (click)="toggle1()" id="bt">
    {{buttonName}}
</button> 

<ng-container *ngIf="show">
    <div style="margin: 0 auto;text-align: left;">
        <div>
            <label>Name:</label>
            <div><input id="tbname" name="yourname" /></div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="!show">
    <div style="margin: 0 auto;text-align: left;">
        <div>
            <label>Address:</label>
            <div><input id="tbname" name="yourname" /></div>
        </div>
    </div>
</ng-container> -->




