<div class="container">
    <div class="row">
        
        <div class="col-md-6 col-sm-offset-3">
            <mat-card>
           
               <h1 class="text-center"><mat-label >Add Customer</mat-label></h1>
                
               <form [formGroup]="form" >
                        <mat-form-field appearance="fill" class=" example-full-width1 " *ngIf="GS[0].autoCustomerNo">
                            <mat-label><span class="req">* </span>Customer No</mat-label>
                            
                            <input matInput  
                             value="Cu.customerNo" readonly
                             [(ngModel)]="Cust1.customerNo"
                             [ngModel]="Cust2[0].customerNo"
                             name="customerNo" id="txt"
                             placeholder="Enter Customer No"
                             formControlName="customerNo"
                             [ngClass]="{'is-invalid': form.get('customerNo')
                            .touched && form.get('customerNo').invalid}"
                        >
                        <mat-error class="invalid-feedback">
                            CustomerNo is required 
                         </mat-error>            
                                  <span matPrefix>C</span>      

                        </mat-form-field>
                  
                        <mat-form-field appearance="fill" class="example-full-width1"*ngIf="!GS[0].autoCustomerNo">
                            <mat-label><span class="req">* </span>Customer No</mat-label>
                            
                            <input matInput  
                             [(ngModel)]="Cust1.customerNo"
                             name="customerNo" id="txt"
                             placeholder="Enter Customer No" 
                             formControlName="customerNo"
                             [ngClass]="{'is-invalid': form.get('customerNo')
                            .touched && form.get('customerNo').invalid}"
                        >
                        <mat-error *ngIf="form.get('customerNo').touched && form.get('customerNo').invalid"  class="invalid-feedback">
                            <div *ngIf="form.get('customerNo').errors.required">Customer No is required.</div>
                            <div *ngIf="form.get('customerNo').errors.pattern">Please remove whitespace</div>
                        </mat-error>                 
                        </mat-form-field>
                  
                         <mat-form-field appearance="fill" class="example-full-width1">
                            <mat-label><span class="req">* </span>Customer Name</mat-label>
                                <input matInput [(ngModel)]="Cust1.customerName"
                                 name="customerName" id="customerName"
                                 placeholder="Enter Customer Name"
                                 formControlName="customerName"
                                 [ngClass]="{'is-invalid': form.get('customerName')
                                .touched && form.get('customerName').invalid}"
                            >
                            <mat-error   class="invalid-feedback">
                                <div >Customer Name is required.</div>
                            </mat-error>          
       
                        </mat-form-field>
                    
                    <div class=" btn-group" style="padding-left:10% ; margin-top: 10px;">
                        <input class="btn btn-success" [disabled]="!form.valid" type="submit" name="submit_reg" value="Submit" 
                        (click)="AddCustomer()">
                        <input (click)="gotoList()" class = "btn btn-warning"routerLink="/GetEmployeePath"type="button" value="Goto List">            
                    </div>
                    
                <!-- <router-outlet></router-outlet> -->
               </form>
        </mat-card>

                                
        </div><!-- ends col-12 -->
    </div>
</div>

