<div class="container" >
    <div class="row">
        <!-- <div class="col-md-2">
        </div> -->
        <div class="col-md-6 col-sm-offset-3"  style="margin-top: 8%;">
            <mat-card class="col-md-10 col-sm-offset-1"  style="background-image: url('/../assets/BG.jpg');">
                
                <div class="container">
           
               <h1 class="text-center"><mat-label >Sign Up</mat-label></h1>
                
                <form [formGroup]="form" >
                  
                    <div class="form-group">
                        <mat-label><span class="req">* </span> First Name</mat-label>
                            <input   
                             value="Admin.firstName" 
                             class="form-control"
                             [(ngModel)]="Admin.firstName"
                             name="firstName" id="txt"
                             placeholder="Enter First Name"
                             formControlName="firstName" 
                             [ngClass]="{'is-invalid': form.get('firstName')
                             .touched && form.get('firstName').invalid}"
                             > 
                             <span matPrefix></span>      
                             <div class="invalid-feedback">
                                First Name is required 
                             </div>  
                        </div>

                        <div class="form-group">
                            <mat-label><span class="req">* </span>Last Name</mat-label>
                                <input [(ngModel)]="Admin.lastName"
                                class="form-control"
                                name="lastName" id="lastName"
                                 placeholder="Enter Your Sarname"
                                 formControlName="lastName"
                                  [ngClass]="{'is-invalid': form.get('lastName')
                                 .touched && form.get('lastName').invalid}"
                                  > 
                                  <div class="invalid-feedback">
                                     Last Name is required 
                                  </div>
                                </div>
                        
                            <div class="form-group">
                            <mat-label><span class="req">* </span> User Name</mat-label>
                            <input   
                             value="Admin.username" 
                             class="form-control"
                             [(ngModel)]="Admin.username"
                             name="username" id="txt"
                             placeholder="Enter User Name"   
                             formControlName="username"
                              [ngClass]="{'is-invalid':form.get('username')
                              .touched && form.get('username').invalid}"
                              > 
                              <div class="invalid-feedback">
                                User Name is required 
                              </div>          
                    
                            </div>
      
                            <div class="form-group">
                            <mat-label><span class="req">* </span>Email</mat-label>
                            <input  type="email"
                            class="form-control"
                            value="Admin.email" 
                             [(ngModel)]="Admin.email"
                             name="email" id="txtemail"
                             placeholder="Enter Your Email "  
                            formControlName="email" 
                            [ngClass]="{'is-invalid':form.get('email')
                             .touched && form.get('email').invalid}"
                              > 
                              <div   class="invalid-feedback">
                                <div *ngIf="form.get('email').errors.required">Email is required </div>
                                <div *ngIf="form.get('email').errors.email">Email must be valid email address </div>
                            
                              </div>          
                            </div>

                            <div class="form-group">
                            <mat-label><span class="req">* </span>Contact No</mat-label>
                            <input  type="tel"  
                            class="form-control"
                             value="Admin.contactNo" 
                             [(ngModel)]="Admin.contactNo"
                             name="contactNo" id="txtcontactNo"
                             placeholder="Enter Your ContactNo "
                             formControlName="contactNo" 
                             [ngClass]="{'is-invalid':form.get('contactNo')
                             .touched && form.get('contactNo').invalid}"
                             > 
                            <div   class="invalid-feedback">
                                <div *ngIf="form.get('contactNo').errors.required">Mobile Number is required.</div>
                                <div *ngIf="form.get('contactNo').errors.pattern">Please, Enter 10 digit Mobile Number.</div>
                            </div>          
                        </div>

                        
                        <div class="form-group">      
                            <mat-label ><span class="req">* </span>Gender</mat-label>
                            <br/>
                            <input type="radio"
                            [(ngModel)]="Admin.gender" Name ="Gender"
                            name="gender" value="Male" 
                            formControlName="gender" 
                            [ngClass]="{'is-invalid':form.get('gender')
                             .touched && form.get('gender').invalid}"
                            > Male
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio"[(ngModel)]="Admin.gender" Name ="Gender"
                            name="gender" value="Female"
                            formControlName="gender" 
                            [ngClass]="{'is-invalid':form.get('gender')
                             .touched && form.get('gender').invalid}"
                            > Female 
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio"[(ngModel)]="Admin.gender" Name ="Gender"
                            name="gender" value="Other"
                            formControlName="gender" 
                            [ngClass]="{'is-invalid':form.get('gender')
                             .touched && form.get('gender').invalid}"
                            > Other 
                            <div class="invalid-feedback  example-full-wi dth1">
                                <div *ngIf="form.get('gender').errors.required">Mobile Number is required.</div>
                            </div>           
    
                        </div> 
               
                         <!-- <mat-label class=" example-full-width1 "><span class="req">* </span>Gender</mat-label>
                        <mat-radio-group [(ngModel)]="Admin.gender" aria-label="Select an option" class="row example-full-width1"
                        >      
                            <mat-radio-button  Name ="Gender"
                            name="gender" value="Male"
                            formControlName="gender" 
                            [ngClass]="{'is-invalid':form.get('gender')
                             .touched && form.get('gender').invalid}"
                            > Male </mat-radio-button>&nbsp;&nbsp;
                            <mat-radio-button  Name ="Gender"
                            name="gender" value="Female"
                            formControlName="gender" 
                            [ngClass]="{'is-invalid':form.get('gender')
                             .touched && form.get('gender').invalid}"
                            > Female </mat-radio-button>&nbsp;&nbsp;
                            <mat-radio-button  Name ="Gender"
                            name="gender" value="Other"
                            formControlName="gender" 
                            [ngClass]="{'is-invalid':form.get('gender')
                             .touched && form.get('gender').invalid}"
                             > Other </mat-radio-button> 
                        </mat-radio-group> 
                        <div class="invalid-feedback  example-full-width1">
                            <div *ngIf="form.get('gender').errors.required">Mobile Number is required.</div>
                        </div> -->

                            <!-- <mat-label class=" example-full-width1 "><span class="req">* </span>Regian</mat-label>
                            <div class="row example-full-width1" >
                            <div class="col-4 " *ngFor="let reg Of Regians">   
                                <input  type="checkbox"  value="{{reg}}" (change)= regianchange($event) /><mat-label> {{reg}} </mat-label>
                            </div>
                            </div>
                            <div class="invalid-feedback  example-full-width1">
                                <b>   Minimam 1 Gegian is required </b>
                            </div>           -->
           
                            <div class="form-group">
                                <mat-label><span class="req">* </span>Password</mat-label>
                                    <input [(ngModel)]="Admin.password"
                                    class="form-control" type="password"
                                    name="password" id="txtpassword"
                                     placeholder="Enter password"
                                     formControlName="password1"
                                     [ngClass]="{'is-invalid':form.get('password1')
                                     .touched && form.get('password1').invalid}"
                                     > 
                                     <div class="invalid-feedback">
                                       Password is required 
                                     </div>          
                            </div>                                                       
    



                            <!-- <div class="form-group">
                            <mat-label><span class="req">* </span> Password</mat-label>
                            <input  type="password"  
                            class="form-control"
                             value="Admin.password" 
                             [(ngModel)]="Admin.password"
                             name="password" id="txtpassword"
                             placeholder="Enter Password "
                             formControlName="password" 
                             [ngClass]="{'is-invalid':form.get('password')
                             .touched && form.get('password').invalid}"
                             > 
                            <div class="invalid-feedback">
                                Password is required
                              </div>          
                            </div>
 -->

                        
                    <div class=" example-full-width1 text-center "style="margin-top: 2%;" >
                        <input class="btn btn-lg btn-primary btn-block" [disabled]="!form.valid" type="submit" name="submit_reg" value="Sign Up" 
                        (click)="Registration()"  >
                        <input (click)="gotoLogin()" class =" btn btn-link"type="button" value="Already have Account Sign In!">            
                    </div>           
                <router-outlet></router-outlet>
               </form>
                </div>
        </mat-card>

        </div>                            
    </div>
</div>
